
* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #10243B;
    color: white;
    font-size: 18px;
    font-family: "open sans", sans-serif;
    height: 60px;
}

ul {
    list-style-type: none;
    padding: 10px;
}

ul li {
    display: inline;
    padding-top: 5px;
    margin: 5px;
    padding-left: 4px;
}
img{
    vertical-align: middle;
}
nav :first-child {
    margin-left: 15px;
    padding-left: 0px;
}

#seven {
    padding-right: 110px;
}

#lightblue {
    color: lightblue;
}

#hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0), transparent), url(images/graduation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#herotextdiv {

    color: white;
    padding-left: 50px;
    display: flex;
    padding-top: 100px;
    text-shadow: 0px 2px 3px #333333;
    position: relative;
    font-family: "open sans", sans-serif;
    font-size: 16px;
    line-height: 1;
}

#bottomtext {
    padding-top: 15px;
    font-style: italic;
}

#herotext {
    padding-top: 45px;
    padding-left: 5px;
}

#explorecchs {
    width: 100%;
    height: 400px;
}

#exploreheader {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #10243B;
    color: white;
    padding-top: 30px;
}

#exploresection {
    width: 100%;
    height: 319px;
    flex-wrap: wrap;
}

.explorebox {
    height: 315px;
    width: 25%;
    float: left;
}

#patriot {
    background-image: url(images/patriots\ plaza.jpg);
    background-position: center;
    background-size: cover;
}

#college {
    background-image: url(images/college.png);
    background-position: center;
    background-size: cover;
}

#ccnn {
    background-image: url(images/ccnn.jpg);
    background-position: center;
    background-size: cover;
}

#media {
    background-image: url(images/ccnn\ live.png);
    background-position: center;
    background-size: cover;
}

#glance {
    width: 65%;
    height: 550px;
    align-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-bottom: 45px;
}

#glanceheader {
    width: 50%;
    height: 50px;
    background-color: white;
    color: #10243B;
    padding-top: 45px;
    font-size: 25px;
    margin: auto;
}

#glancesection {
    width: 100%;
    height: 319px;
    flex-wrap: wrap;
    align-content: center;
    padding-right: 25px;
    padding-left: 25px;
}

.glancebox {
    height: 315px;
    width: 24%;
    float: left;
    align-content: center;
    text-align: center;
}

#money {
    background-image: url(images/carosel\ money.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 25px;
}

#graduationcarosel {
    background-image: url(images/carosel\ graduation.jpg);
    background-position: center;
    background-size: cover;
}

#bookcarosel {
    background-image: url(images/book.jpg);
    background-position: center;
    background-size: cover;
}

#teachingcarosel {
    background-image: url(images/carosel\ teaching.jpg);
    background-position: center;
    background-size: cover;
}

#h1carosel {
    color: rgb(195, 14, 14);
    font-size: 35px;
    padding-top: 290px;
    font-family: "open sans", sans-serif;
}

#h2carosel {
    padding-top: 10px;
    color: #727171;
    line-height: 20px;
    font-size: 17px;
    font-family: "open sans", sans-serif;
}

#dualenrollment {
    background-color: #10243B;
    margin: auto;
    width: 60%;
    height: 150px;
}

.dualenrollment {
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
}

#colleges {
    width: 100%;
    height: 319px;
}

#collegesheader {
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    color: #10243B;
    background-color: white;
    font-size: 11px;
    font-family: "open sans", sans-serif;
}

#collegesections {
    width: 100%;
    height: 319px;
    flex-wrap: wrap;
    margin: auto;
    align-content: center;
    padding-right: auto;
    padding-left: auto;
}

.collegebox {
    height: 160px;
    width: 17.3%;
    float: left;
    margin-left: 40px;
    padding-left: 10px;
}

#um {
    background-image: url(images/um.png);
    background-position: center;
    background-size: cover;
}

#yale {
    background-image: url(images/yale.png);
    background-position: center;
    background-size: cover;
}

#wakeforest {
    background-image: url(images/wakeforest.png);
    background-position: center;
    background-size: cover;
}

#mit {
    background-image: url(images/mit.png);
    background-position: center;
    background-size: cover;
}

#northcarolina {
    background-image: url(images/northcarolina.png);
    background-position: center;
    background-size: cover;
}

#footer {
    width: 100%;
    height: 500px;
    padding-top: 70px;
}

#lowerhero {
    width: 100%;
    height: 80px;
    background-image: url(images/fans.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #10243B;
}

#lowernav {
    width: 100%;
    height: 50px;
    background-color: #10243B;
    color: lightblue;
    font-size: 15px;
    font-family: "open sans", sans-serif;
    text-align: center;
    align-content: center;
    padding-bottom: 10px;
    padding-top: 5px;
}

 #connect {
    padding-left: 110px;
    padding-right: 50px;
}

#footericons {
    float: left;
    list-style-type: none;
}

#misson {
    width: 100%;
    height: 370px;
    background-color: #333333;
}

#adress {
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    font-size: 16px;
    padding-left: 220px;
    padding-top: 50px;
}

#sitemap {
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    font-size: 13px;
    padding-left: 2500px;
}

.adress {
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    font-size: 13px;
}

.space {
    padding-left: 600px;
}

.statement {
    font-family: "open sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #9b9b9b;
    padding-top: 40px;
    text-align: left;
    padding-left: 220px;
    width: 1100px;
}

.crest {
    float: right;
    padding-right: 300px;
    padding-bottom: 0px;
    padding-top: 50px;
}